<form action="/places" method="post">
  <label for="cityname">Add a new City</label>
  <input id="cityname" name="cityname" type="text">

  <label for="friend">Add a new Friend</label>
  <input id="friend" name="friend" type="text">

  <label for="duration">Add a new Duration</label>
  <input id="duration" name="duration" type="text">

  <label for="journal">Add a new Journal</label>
  <input id="journal" name="journal" type="text">

  <button type="submit">Submit</button>
</form>