<h1>Add a new place to @Model.Name</h1>

<form action="/countries/@Model.Id/places" method="post">

  <input id="countryId" name="countryId" type="hidden" value="@Model.Id">

  <label for="cityname">Add a new City</label>
  <input id="cityname" name="cityname" type="text">

  <label for="friend">Add a new Friend</label>
  <input id="friend" name="friend" type="text">

  <label for="duration">Add a new Duration</label>
  <input id="duration" name="duration" type="text">

  <label for="journal">Add a new Journal</label>
  <input id="journal" name="journal" type="text">

  <button type="submit">Submit</button>
</form>