<h1>Add a Country</h1>
<p>Add a Country here:</p>

<form action="/countries" method="post">
  <label for="countryName">Country name</label>
  <input id="countryName" name="countryName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/countries">Back to countries.</a></p>